{
    "parser": "babel-eslint",
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "plugins": [
      "react",
      "react-hooks"
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      // Atur aturan ESLint yang diinginkan di sini
    }
  }
  